<template>
  <div class="col-sm-12">
    <h4>Stock options</h4>
    <em>Note: All options are reviewed and approved by the Board of Directors at the quarterly meetings. The Exercise Price is effective as of the date of approval, not hire date.</em>
    <div class="options-container">
      <div>
        <div class="compensation-box">
          <div class="compensation-box-title">Stock option grant</div>
          <div>
            <input type="number" placeholder="Enter..." v-model="optionsEntered" />
            <p v-if="optionsFromRole">
              <small>
                For the currently selected role we grant {{ optionsFromRole }} options.
                Click <a href="" @click="setOptions">here</a>
                to use that amount in the calculation above.
              </small>
            </p>
            <div class="equity-exercised">
              <input type="radio" id="no" :value="false" v-model="hasExercised" />
              <label for="no">Not Exercised</label>
              <br />
              <input type="radio" id="yes" :value="true" v-model="hasExercised" />
              <label for="yes">Exercised</label>
              <br />
            </div>
          </div>
        </div>
        <div class="compensation-box">
          <div class="compensation-box-title">Common stock price (USD)</div>
          <div class="grant-select">
            <p>
              When did you receive your option grant (commonly this happens at the first board meeting after starting)?
            </p>
            <div v-for="(exp, index) in timeFrames" :key="exp.label">
              <input
                class="grant-selector"
                type="radio"
                :id="`csp-${index}`"
                name="factor"
                :value="exp"
                v-model="currentCSP"
              >
              <label :for="`csp-${index}`">
                {{ exp.label }}
              </label>
            </div>
            <hr />
            <div v-if="currentCSP && currentCSP.commonStockPrice" class="compensation-box-amount">
              <small>Common stock price:</small>
              {{ formatAmount(currentCSP.commonStockPrice) }}
            </div>
          </div>
        </div>
      </div>
      <div class="equity-total compensation-box">
        <div class="compensation-box-title">Estimated gain over four years (USD)</div>
        <template v-if="hasValuations">
          <valuation-scenario
            :valuation="valuation"
            v-for="valuation in valuations"
            :key="valuation.label"
            :hasExercised="hasExercised"
          />
        </template>
        <div v-else class="compensation-box-amount">
          ---
        </div>
      </div>
    </div>
    <p>
      The gain is calculated in the following way: <code>Gain = Shares × (Price - Common Stock Price)</code>.
      Note that the scenarios do not take into account future dilution due to option grants, financings, and other reasons.
      For more information around stock options please checkout the
      <a href="/handbook/stock-options/#">
        handbook page.
      </a>
    </p>
    <hr />
    <equity-disclaimer />
    <hr />
  </div>
</template>
<script>
import { formatAmount } from "./utils";
import EquityDisclaimer from "./EquityDisclaimer.vue";
import ValuationScenario from "./ValuationScenario.vue";

export default {
  components: {
    ValuationScenario,
    EquityDisclaimer
  },
  data: function () {
    return {
      optionsEntered: null,
      currentCSP: this.timeFrames && this.timeFrames[0],
      hasExercised: false
    };
  },
  props: {
    optionsFromRole: Number,
    currency: Object,
    timeFrames: Array,
    valuationScenarios: Array
  },
  methods: {
    setOptions(event) {
      event.preventDefault();
      this.optionsEntered = this.optionsFromRole;
    },
    formatAmount,
  },
  computed: {
    hasValuations() {
      return this.optionsEntered && this.commonStockPrice;
    },
    commonStockPrice() {
      return this.currentCSP && this.currentCSP.commonStockPrice;
    },
    valuations() {
      return this.valuationScenarios.map((definition) => {
        const totalGain = Math.round(
          this.optionsEntered *
          (definition.pricePerShare - this.commonStockPrice)
        );

        return {
          ...definition,
          totalGainFormatted: formatAmount(totalGain),
          totalGain,
        }
      })
    },
  }
}
</script>
