%section.ten-oh-announcement
  .ten-oh-label
    %span 13.3
  .ten-oh-description
    .ten-oh-description-body.text-center
      %h2.main-heading New features every month
      %p.u-margin-bottom-xs
        GitLab 13.3 released with coverage-guided fuzz testing and a build matrix for CI/CD

      .btn-group
        = link_to "/releases/2020/08/22/gitlab-13-3-released/", class: "btn cta-btn btn-white margin-top20 hero-cta hero-release-link" do
          See what’s new
