---
title: Product
description: Here is product page
suppress_header: true
extra_css:
  - features-v2.css
  - release-posts.css
  - product-page.css
  - bl-modal.css
  - video-carousel.css
extra_js:
  - libs/slick.min.js
  - video-carousel.js
---
<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" rel="stylesheet"></link>
<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" rel="stylesheet"></link>

<%current_page.data.title = category.name%>
<%current_page.data.description = category.description%>

<% missing_feature_count = 0 %>
<div class="blank-header">
  <div class="header-content">
    <% if category.name %>
      <h1><%= category.name %></h1>
    <% end %>
    <% if category.description %>
      <p><%= category.description %></p>
    <% end %>
    <% if category.link %>
      <a href="<%= category.link %>" class="btn cta-btn orange"><%= category.link_description %></a>
    <% end %>
  </div>
</div>
<div class="gitlab-content-container">
  <% if category.body %>
    <%= kramdown(category.body) %>
  <% end %>

  <% if category.name.include?("Source Code Management") %>
    <div class="scm-video-wrapper u-margin-top-40">
      <h2 class="text-center">
        Featured videos
      </h2>
      <div class="video-slider">
        <% data.video_carousel.each do |video| %>
          <% if video.carousel_identifier.include?("SCM Carousel 1") %>
            <%= partial "includes/components/video-carousel/video-item", locals: {name: video.name, title: video.title, company: video.company, photourl: video.photourl, videolink: video.video_link} %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<% if category.name.include?("Source Code Management") %>
  <% data.video_carousel.each do |video| %>
    <% if video.carousel_identifier.include?("SCM Carousel 1") %>
      <%= partial "includes/components/video-carousel/video-carousel-modal", locals: {videolink: video.video_link, title: video.title} %>
    <% end %>
  <% end %>
<% end %>

<div class="page-container feature-gallery text-center">
  <div class="container titles">
    <h1>Features</h1>

    <div class="features-description features-description-separation">
      <% data.features.features.each do |feature| %>
        <% if (feature.category.respond_to?(:include?) && feature.category.include?(category_key)) || feature.category == category.name %>
          <% missing_feature_count +=1 and next if missing_feature(feature) %>
          <%= partial "includes/features/feature-item", locals: { feature: feature } %></p>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if missing_feature_count > 0 %>
    <div class="container titles">
      <h1>Missing</h1>

      <div class="features-description features-description-separation">
        <% data.features.features.each do |feature| %>
          <% if (feature.category.respond_to?(:include?) && feature.category.include?(category_key)) || feature.category == category.name %>
            <% next unless missing_feature(feature) %>
            <%= partial "includes/features/feature-item", locals: { feature: feature } %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
