.cta-section-free-trial
  %h2.margin-top0 Ready to try GitLab?
  = link_to "/free-trial/", class: "btn cta-btn orange margin-top20" do
    Try GitLab free for 30 days

:css
  .cta-section-free-trial {
    padding: 40px 40px 40px 40px;
    text-align: center;
  }
